@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter.ttf');
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('/fonts/SpaceGrotesk.ttf');
}

:root {
  /* Light Theme — warm, powdery rose */
  --background: #fbf8f5;
  --foreground: #403640;
  --card: var(--background);
  --card-foreground: var(--foreground);
  --popover: var(--background);
  --popover-foreground: var(--foreground);
  --primary: #9b5d73;
  --primary-foreground: #ffffff;
  --secondary: #eee4e8;
  --secondary-foreground: var(--foreground);
  --muted: #f5eef1;
  --muted-foreground: #7b6873;
  --accent: #e8cd9b;
  --accent-foreground: #4a3936;
  --border: #e2d3d9;
  --input: #eadde1;
  --ring: #c78ca0;
  --sidebar: #fdfaf8;
  --sidebar-foreground: var(--foreground);
  --sidebar-ring: var(--ring);

  --hero-gradient: linear-gradient(90deg, #a8677e, #c890a2, #9ebfba, #dfbb91, #9ebfba, #c890a2, #a8677e);

  /* Global */
  --header-size: 3.5rem;
  --footer-size: 4.5rem;
  --page-pad: 4rem;
  --side-margin: 2.5rem;
  --page-pad-t: calc(var(--header-size) + var(--page-pad));
  --page-pad-b: calc(var(--footer-size) + var(--page-pad));
  --page-h: calc(100vh - calc(var(--page-pad-t) + var(--page-pad-b)));
  scroll-padding-top: var(--header-size);
  --home-gradient: radial-gradient(var(--muted), 85%, var(--background));
}

.dark {
  /* Dark Theme — muted plum at dusk */
  --background: #211c28;
  --foreground: #f7f1f3;
  --card: var(--background);
  --card-foreground: var(--foreground);
  --popover: var(--background);
  --popover-foreground: var(--foreground);
  --primary: #d59aad;
  --primary-foreground: #301d29;
  --secondary: #342a37;
  --secondary-foreground: var(--foreground);
  --muted: #2a222f;
  --muted-foreground: #cbbbc3;
  --accent: #dfc28d;
  --accent-foreground: #322824;
  --border: #493b4d;
  --input: var(--border);
  --ring: #d49aad;
  --sidebar: #28202e;
  --sidebar-foreground: var(--foreground);
  --sidebar-ring: var(--ring);

  --hero-gradient: linear-gradient(90deg, #bd7d93, #d4a1b1, #89aca8, #cfaa7e, #89aca8, #d4a1b1, #bd7d93);
}

@theme inline {
  /* TailwindCSS stuff */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-ring: var(--sidebar-ring);

  /* Fonts */
  --font-inter: 'Inter';
  --font-grotesk: 'Space Grotesk';

  /* Main gradient */
  --background-image-home-gradient: var(--home-gradient);

  /* Hero gradient */
  --animate-hero-gradient: hero-gradient 6s linear infinite;
  --background-image-hero-gradient: var(--hero-gradient);
  @keyframes hero-gradient {
    to {
      background-position: 200% center;
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    font-family: 'Source Code Pro', 'Red Hat Text';
  }

  body {
    @apply bg-background text-foreground;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--muted-foreground);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background: var(--muted);
}

.pad-t {
  margin-top: var(--page-pad-t);
}

.content {
  min-height: var(--page-h);
  margin-top: var(--page-pad-t);
  margin-bottom: var(--page-pad);
  margin-left: var(--side-margin);
  margin-right: var(--side-margin);
}

.pixelated {
  image-rendering: pixelated;
}
