@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

:root {
  --background: #edf1f8;
  --foreground: #2e3440;
}

.dark {
  --background: #2e3440;
  --foreground: #e5e9f0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--muted-foreground);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background: var(--muted);
}
